
.countryCircle circle {
  stroke: #e3e3e3;
  stroke-width: 1px;
  opacity: .8;
}

.countryCircles:hover {
  stroke: black;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: white;
  opacity: 0.5;
  text-align: center;
  text-transform: capitalize;
  background: black;
  border-radius: 4px;
}


