#bubble .aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}



#bubble .active:hover {
  cursor: pointer;
}



#bubble.inactive:hover {
  fill: #000;
  cursor: pointer;
}


#bubble.countryCircle {
  fill: #89bdd3;
  stroke: #e3e3e3;
 
}

#bubble.chart {
  display: block;
  margin: 0;
}

#bubble .d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: white;
  opacity: 0.5;
  text-align: center;
  text-transform: capitalize;
  background: black;
  border-radius: 4px;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  

  #bubble .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  #bubble .aText {
    font-size: 13px;
  }
}
