/* Main Template and Homepage */
body, .container {
    color: #262626;
    font-size: 14px;
    height: 100%;
}

a, a:hover {
    color: #164C8E;
}

h1 {
    color: #164C8E;
    font-weight: bold;
}

h4 {
    color: #164C8E;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 17px;
}

strong {
    color: #164C8E;
}

form em {
    color: #164C8E;
    font-size: 1.2em;
    font-style: normal;
    margin-top: 14px;
}

header {
    background-color: #F6BF0D;
    height: 150px;
}

header h1 {
    margin: 16px 52px auto 35px;
    white-space: nowrap;
}

header h1::after {
    content: "☺";
    font-size: 48px;
    margin-left: 10px;
}

h1 a, h1 a:hover {
    color: #164C8E;
    text-decoration: none;
}

header nav {
    position: absolute;
    right: 40px;
    top: 59px;
}

header nav li {
    display: inline-block;
    margin: 0 15px;
    white-space: nowrap;
}

header nav .btn {
    background-color: #F28C0F;
    color: #fff;
    font-size: 1.25em;
    padding: 7px 17px;
}

header nav .btn:hover {
    background-color: #F26938;
    color: #fff;
}

.row {
    padding: 30px 50px 10px 40px;
}

.main-content {
    padding: 50px 45px 45px 45px;
}

footer {
    background-color: #164C8E;
    color: #fff;
    font-size: 0.8em;
}

footer a, footer a:hover {
    color: #F28C0F;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

form select {
    margin: 14px 10px 28px 10px;
    outline: none !important;
}

form optgroup {
    font-size: 1.2em;
}

form .btn {
    background-color: #F28C0F;
    color: #fff;
    font-size: 1em;
    margin-top: 11px;
    margin-left: 8px;
    padding: 2px 12px;
    height: 28px;
}

form .btn:hover {
    background-color: #F26938;
    color: #fff;
}

select {
    border-color: #F26938;
    color: #164C8E;
    font-size: 1.2em;
}

#bubble, #correlogramChart, #geochart_div {
    margin: 0 auto;
}

#correlogramChart {
    display: flex;
    justify-content: center;
}

#correlogramChart g.cor {
    font-family: Arial, Helvetica, sans-serif;
}

#correlogram li {
    margin-bottom: 6px;
}

#correlogramLegend ul {
    display: flex;
    justify-content: center;
    margin: 0 0 22px 0;
    padding: 0;
}

#correlogramLegend li {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 0 0 5px;
}


/* Media Queries for Responsive CSS */
@media (max-width:1180px) {
    header nav li {
        margin: 0 5px;
    }
}

@media (max-width:1095px) {  
    header nav {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        height: 30px;
        left: 70px;
        top: 108px;
    }  

    header nav ul {
        background-color: #F28C0F;
        border-radius: 5px;
        display: flex;
        margin: 0;
        padding: 0 15px;
    }
    
    header nav li {
        margin: 0;
        padding: 1px 15px;
        text-align: center;
    }

    header nav li .btn {
        font-size: 1.2em;
        padding: 0;
    }

    header nav .btn:hover {
        background-color: transparent;
        text-decoration: underline;
    }
}

@media (max-width:625px) {
    header nav {
        height: 25px;
    }

    header nav ul, header nav li {
        padding: 0 7px;
    }

    header nav li .btn {
        font-size: 1.1em;
    }
}
